<template  name ="tmpHome">

    <head>
        <title>Nested Rules</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
    <div class="container">
        <h1>First Less Tutorial</h1>
        <div class="myclass">
            <h1>Activity Monitor</h1>
            <ul>
                <li><div class="title success">OTA Updated succeed</div><div class="subTitle">2 hours ago</div></li>
                <li><div class="title fail">OTA Updated failed</div><div class="subTitle">2 hours ago</div></li>
                <li><div class="title pending">OTA Updated succeed</div><div class="subTitle">2 hours ago</div></li>
                <li><div class="title pending">OTA Updated succeed</div><div class="subTitle">2 hours ago</div></li>
                <li><div class="title pending">OTA Updated succeed</div><div class="subTitle">2 hours ago</div></li>
            </ul>

        </div>
    </div>
    </body>
</template>